doctype html
html
    head
        meta(charset='utf-8')
        title Form
    body
        form(action='/form_receiver' method='post')
            p
                input(type='text' name='title')
            p
                textarea(name="description", cols="30", rows="10")
            p
                input(type='submit')